* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow-x: hidden;
}

// COLORS -----
// Theme Colors ---
$blueprint: #5f6ab1; // Blueprint Blue
$galaxy: #23203B; // Galaxy Blue
$polaris: #ec77b7; // Polaris Pink
$solar: #ffa795; // Solar Orange
// Accent Colors ---
$bluer: #494DA0; // Blueprint Blue
$punk: #EF5292; // Polaris Punk
// Neutrals ---
$g-black: #11112B; // Galaxy Black
$n-cool: #90b0d9; // Neutral Cool
$n-warm: #d2d1ec; // Neutral Warm
$ng-cool: #d8d8df; // Neutral Grey Cool
$ng-warm: #dfd9d8; // Neutral Grey Warm
// Gradients ---
$sunset: linear-gradient($galaxy, $blueprint, $polaris);
$sunrise: linear-gradient($blueprint, $solar);
// -----

// ASSETS -----
$ink-home: url(~@/assets/ink-home.png);
$star-gradient: url(~@/assets/star-gradient.png);
// -----

// SIZING -----
$h-nav: 77px;
// -----

// PRESET -----
.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

// CONTAINERS ----- 
.display {
    // top: -$h-nav;
    bottom: 0px;
    width: 100vw;
    overflow-y: scroll;
}
.fr {
    display: flex;
    flex-direction: row;
}
.fc {
    display: flex;
    flex-direction: column;
}
#nav {
    position: fixed;
    z-index: 10;
}
.asset {
    background-size: contain;
    position: absolute;
    z-index: 8;
}
.row2 {
    width: 100vw;
    height: 50vh;
}

// MIXINS -----
@mixin easeOut {
    transition: all 1s ease-out;
}
// -----

// FONTS ----
// Inktrap ---
@font-face {
    font-family: "Inktrap";
    font-style: normal;
    src: url(~@/assets/font-faces/PPNeueMachina-InktrapRegular.otf) format('opentype');
};
@font-face {
    font-family: 'Inktrap';
    font-style: italic;
    src: url(~@/assets/font-faces/PPNeueMachina-InktrapRegularItalic.otf) format('opentype');
};
@font-face {
    font-family: 'Inktrap-light';
    font-style: normal;
    src: url(~@/assets/font-faces/PPNeueMachina-InktrapLight.otf) format('opentype');
};
@font-face {
    font-family: 'Inktrap-light';
    font-style: italic;
    src: url(~@/assets/font-faces/PPNeueMachina-InktrapLightItalic.otf) format('opentype');
};
@font-face {
    font-family: 'Inktrap-black';
    font-style: normal;
    src: url(~@/assets/font-faces/PPNeueMachina-InktrapUltrabold.otf) format('opentype');
};
@font-face {
    font-family: 'Inktrap-black';
    font-style: italic;
    src: url(~@/assets/font-faces/PPNeueMachina-InktrapUltraboldItalic.otf) format('opentype');
};
// PP NEUE MACHINA INKTRAP CREDITS:
// Neo Sans src/assets/font-faces/Neo Sans Std Medium Italic.otf
@font-face {
    font-family: "Neo Sans";
    font-style: normal;
    src: url(~@/assets/font-faces/NeoSansStdMedium.otf) format('opentype');
};
@font-face {
    font-family: "Neo Sans";
    font-style: italic;
    src: url(~@/assets/font-faces/NeoSansStdMediumItalic.otf) format('opentype');
};
@font-face {
    font-family: "Neo-Light";
    font-style: normal;
    src: url(~@/assets/font-faces/NeoSansStdRegular.otf) format('opentype');
};
@font-face {
    font-family: "Neo-Bold";
    font-style: normal;
    src: url(~@/assets/font-faces/NeoSansStdBold.otf) format('opentype');
};
@font-face {
    font-family: "Neo-Bold";
    font-style: italic;
    src: url(~@/assets/font-faces/NeoSansStdBoldItalic.otf) format('opentype');
};
@font-face {
    font-family: "Neo-Black";
    font-style: normal;
    src: url(~@/assets/font-faces/NeoSansStdBlack.otf) format('opentype');
};
